body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
}

.hero {
    height: 400px;
    background-image: url("https://picsum.photos/1200/400");
    background-size: cover;
    padding: 50px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
}

.row {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
}

.movie {
    min-width: 150px;
    height: 220px;
    background-image: url("https://picsum.photos/150/220");
    background-size: cover;
    transition: 0.3s;
}

.movie:hover {
    transform: scale(1.1);
}